@import "tailwindcss";

/* Tambahan style dasar */
/* Tambahan style dasar */
body {
  @apply bg-gray-50 text-gray-800;
}

/* CSS untuk mode cetak */
@media print {
  /* Sembunyikan semua yang bukan area konten utama */
  aside,
  nav,
  button,
  .no-print {
    display: none !important;
  }

  /* Reset margin agar full kertas */
  main {
    margin: 0 !important;
    padding: 0 !important;
  }

  body {
    background: white;
  }
}
